spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    show-sql: false

server:
  port: ${PORT:8080}
  error:
    include-message: never
    include-binding-errors: never

logging:
  level:
    com.sales.sales_api: INFO
    org.springframework.security: WARN
